<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Demo", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Redirect",    redirect_path %></li>
          <% if @current_user %>
            <li><%= link_to @current_user[:name], '#' %></li>
          <% else %>
            <li><%= link_to "Sign in", '#' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
